@import url('https://fonts.googleapis.com/css2?family=Dhurjati&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  background: #DCCFAF;
  font-family: 'Dhurjati', sans-serif;
}

.logo {
  animation: spin 3s infinite ease-in-out;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.regular-font {
  font-family: 'Nova Square', sans-serif;
}

.dhurjati-font {
  font-family: 'Dhurjati', sans-serif;
}